.card {
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

label {
  color: rgb(71, 65, 58);
  font-size: 12px;
  border-bottom: 0.5px solid #7a3b2e;
  margin: 3px 0;
}

.desc {
  font-size: 14px;
}

.star{
    color: rgb(235, 208, 57);
}

.username{
    font-size: 14px;
}

.date{
    font-size: 12px;  
}

form{
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

input{
    border: none;
    border-bottom: 1px solid gray;
}

input::placeholder, textarea::placeholder{
font-style: 12px;
color: rgb(179, 176, 176)
}

.submitBtn{
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    background-color: #7a3b2e;
    cursor: pointer;
}

.btn{
  border: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.logout{
  background-color: #7a3b2e;
}

.login{
  background-color: #2e8d85;
  margin-right: 10px;
}

.register{
  background-color: #418a5f;
}

.buttons, .logout{
  position: absolute;
  top: 10px;
  right: 10px;
}